body {
  background-color:#008390;
  color:#c6d600;
}

h1 {
  font-family:Courier,Arial,Helvetica,sans-serif;
  text-align:center;
}
p {
  font-family:Courier,Arial,Helvetica,sans-serif;
  text-align:center;
  font-weight: bold;
}
button {
  background-color:black;
  color:yellow;
}
button:hover {
  background-color:orange;
  color:blue;
}
#nav {
  height:100px;
  width:95%;
  align:center;
  font-size:2em;
}
